html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Normalize */
section, main, footer, header, article {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: #E1D4C9;
  font-size: 1.6rem;
  font-family: "Inter", Verdana, sans-serif;
}

.wrapper {
  max-width: 1360px;
  margin: auto;
}

h1 {
  color: #E1D4C9;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
  font-style: normal;
}
h1 span {
  color: hsl(24, 25%, 58%);
  font-style: italic;
}

h2 {
  color: #403F3D;
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}
h2 span {
  color: hsl(24, 25%, 58%);
  font-style: italic;
}

h3 {
  color: #403F3D;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}

.reference_underlined {
  cursor: pointer;
}
.reference_underlined::after {
  content: "";
  display: block;
  width: 0%;
  margin: auto;
  padding-bottom: 2px;
  border-bottom: 2px solid #403F3D;
  transition: width 0.3s ease-out;
}
.reference_underlined:hover::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 2px solid #403F3D;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 16px;
}

.icon-logo {
  width: 100px;
  height: 60px;
}

.header__navigation {
  padding: 16px 0;
}
.header__navigation .navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__navigation li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.header__navigation a {
  text-decoration: none;
  color: #403F3D;
}

.header__menu {
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
}
.header__menu span {
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.header__menu .icon-coffee-cup {
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

.header__menu {
  cursor: auto;
}
.header__menu::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #403F3D;
}

.menu__heading {
  width: 800px;
  margin: auto;
  text-align: center;
}

.menu__tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 40px 0;
}
.menu__tabs .tab {
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu__tabs .tab span {
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.menu__tabs .tab .tab__circle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 5px 7px;
  background-color: #C1B6AD;
}
.menu__tabs .tab_checked {
  background-color: #665F55;
}
.menu__tabs .tab_checked .tab__circle {
  background-color: #E1D4C9;
}
.menu__tabs .tab_checked span {
  color: #E1D4C9;
}

.menu-coffee {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.menu-item {
  border-radius: 40px;
  border: 1px solid #C1B6AD;
}
.menu-item .menu-item__img {
  box-sizing: border-box;
  width: 308px;
  height: 308px;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  background-size: 110%;
  transition: background-size 0.7s ease;
  background-position: 50%;
}
.menu-item:nth-child(1) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-1.jpg);
}
.menu-item:nth-child(2) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-2.jpg);
}
.menu-item:nth-child(3) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-3.jpg);
}
.menu-item:nth-child(4) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-4.jpg);
}
.menu-item:nth-child(5) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-5.jpg);
}
.menu-item:nth-child(6) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-6.jpg);
}
.menu-item:nth-child(7) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-7.jpg);
}
.menu-item:nth-child(8) .menu-item__img {
  background-image: url(../img/menu/coffee/coffee-8.jpg);
}
.menu-item .menu-item__description {
  position: relative;
  height: 156px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-item p {
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
}
.menu-item .menu-price {
  position: absolute;
  bottom: 20px;
  color: #403F3D;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}
.menu-item:hover .menu-item__img {
  background-size: 100%;
}

.social-networks .social-network {
  transition: all 1s ease;
}

.wrapper__footer {
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 100px;
  border-radius: 40px;
  background-color: #665F55;
  display: flex;
  gap: 100px;
}
.wrapper__footer h2 {
  color: #E1D4C9;
}
.wrapper__footer .footer__left, .wrapper__footer .footer__right {
  width: 530px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.social-networks {
  display: flex;
  gap: 12px;
}
.social-networks .social-network {
  width: 60px;
  height: 60px;
}
.social-networks .social-network_twitter {
  background-image: url(../img/footer/twitter.svg);
}
.social-networks .social-network_twitter:hover {
  background-image: url(../img/footer/twitter-hover.svg);
}
.social-networks .social-network_instagram {
  background-image: url(../img/footer/intagram.svg);
}
.social-networks .social-network_instagram:hover {
  background-image: url(../img/footer/instagram-hover.svg);
}
.social-networks .social-network_facebook {
  background-image: url(../img/footer/facebook.svg);
}
.social-networks .social-network_facebook:hover {
  background-image: url(../img/footer/facebook-hover.svg);
}

.footer__right h3 {
  color: #E1D4C9;
}
.footer__right ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__right li {
  color: #E1D4C9;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
  list-style: none;
  width: max-content;
}
.footer__right li::before {
  margin-right: 8px;
}
.footer__right li:nth-child(1):before {
  content: url(../img/footer/pin-alt.svg);
}
.footer__right li:nth-child(2)::before {
  content: url(../img/footer/phone.svg);
}
.footer__right li:last-child::before {
  content: url(../img/footer/clock.svg);
}
.footer__right li::after {
  background-color: #E1D4C9;
}
.footer__right li a {
  text-decoration: none;
  color: #E1D4C9;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}

/*# sourceMappingURL=style-menu.css.map */
