html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Normalize */
section, main, footer, header, article {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: #E1D4C9;
  font-size: 1.6rem;
  font-family: "Inter", Verdana, sans-serif;
}

.wrapper {
  max-width: 1360px;
  margin: auto;
  padding: 0 40px;
}

h1 {
  color: #E1D4C9;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
  font-style: normal;
}
h1 span {
  color: hsl(24, 25%, 58%);
  font-style: italic;
}

h2 {
  color: #403F3D;
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
  letter-spacing: -0.1px;
}
h2 span {
  color: hsl(24, 25%, 58%);
  font-style: italic;
}

h3 {
  color: #403F3D;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}

.reference_underlined {
  cursor: pointer;
}
.reference_underlined::after {
  content: "";
  display: block;
  width: 0%;
  margin: auto;
  padding-bottom: 2px;
  border-bottom: 2px solid currentColor;
  transition: width 0.5s ease-out;
}
.reference_underlined:hover::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 2px solid currentColor;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 16px;
}

.icon-logo {
  width: 100px;
  height: 60px;
}

.header__navigation {
  padding: 16px 0;
}
.header__navigation .navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__navigation li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.header__navigation a {
  text-decoration: none;
  color: #403F3D;
}

.header__menu {
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.header__menu .icon-coffee-cup {
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

.social-networks .social-network, .mobile-button, .mobile-button .button-icon, .mobile-button .button-app__content, .slider__arrow, .button-menu span, .button-menu .icon-coffee-cup {
  transition: all 0.7s ease;
}

.enjoy__container {
  background: url(../img/img-enjoy.jpeg);
  background-size: cover;
  background-position: 50%;
  border-radius: 40px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.enjoy__heading,
.enjoy__content {
  max-width: 530px;
}

.enjoy__content {
  color: #E1D4C9;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
}

.button-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 66px;
  border-radius: 100px;
  background-color: #E1D4C9;
  text-decoration: none;
}
.button-menu span {
  position: relative;
  left: 12px;
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.button-menu .icon-coffee-cup {
  opacity: 0;
  margin-left: 4px;
  width: 20px;
  height: 20px;
}
.button-menu:hover span {
  left: 0;
}
.button-menu:hover .icon-coffee-cup {
  opacity: 1;
}

.favourites-coffee__wrapper {
  padding-top: 100px;
}

.favourites-coffee__heading {
  text-align: center;
  margin-bottom: 40px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.slider__arrow {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.slider__arrow_left {
  background-image: url(../img/favourites-coffee/arrow-left.svg);
}
.slider__arrow_left:hover {
  background-image: url(../img/favourites-coffee/arrow-left-hover.svg);
}
.slider__arrow_right {
  background-image: url(../img/favourites-coffee/arrow-right.svg);
}
.slider__arrow_right:hover {
  background-image: url(../img/favourites-coffee/arrow-right-hover.svg);
}

.slider__content {
  overflow: hidden;
  max-width: 1150px;
  height: 640px;
}
.slider__content .slider__line {
  display: flex;
  justify-content: center;
  gap: 336px;
}

.slider__slide {
  max-width: 480px;
  margin: auto;
}
.slider__slide img {
  max-width: 480px;
  max-height: 480px;
  justify-content: center;
}
.slider__slide .slide__description {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.slider__slide .slide__description__text {
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  text-align: center;
}
.slider__slide .slide__price {
  color: #403F3D;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%;
  font-style: normal;
}

.slider__controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}
.slider__controls .control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #C1B6AD;
}
.slider__controls .control_checked {
  background: #665F55;
}

.about__wrapper {
  padding-top: 100px;
}

.container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.container > * {
  flex-basis: 660px;
}

.container__left, .container__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__img {
  border-radius: 20px;
  background-position: 50%;
  background-size: 110%;
  transition: background-size 0.7s ease;
}
.about__img_1 {
  background-image: url(../img/about/about-1.jpg);
  height: 590px;
}
.about__img_2 {
  background-image: url(../img/about/about-2.jpg);
  height: 430px;
}
.about__img_3 {
  background-image: url(../img/about/about-3.jpg);
  height: 430px;
}
.about__img_4 {
  background-image: url(../img/about/about-4.jpg);
  height: 590px;
}
.about__img:hover {
  background-size: 100%;
}

.mobile-app__wrapper {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.mobile-app__left {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
.mobile-app__left p {
  color: #403F3D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
}
.mobile-app__left .mobile-app__buttons {
  display: flex;
  gap: 20px;
}

.mobile-button {
  box-sizing: border-box;
  width: 200px;
  padding: 12px 20px;
  display: flex;
  gap: 8px;
  border: 1px solid #665F55;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
}
.mobile-button .button-icon {
  fill: #403F3D;
  width: 36px;
  height: 36px;
}
.mobile-button .button-app__content {
  text-align: left;
  color: #403F3D;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  font-style: normal;
}
.mobile-button .button-app__content span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.mobile-button:hover {
  background-color: #665F55;
}
.mobile-button:hover .button-app__content {
  color: #E1D4C9;
}
.mobile-button:hover .button-icon {
  fill: #E1D4C9;
}

.container__footer {
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 100px;
  border-radius: 40px;
  background-color: #665F55;
  display: flex;
  gap: 100px;
}
.container__footer h2 {
  color: #E1D4C9;
}
.container__footer .footer__left,
.container__footer .footer__right {
  width: 530px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.social-networks {
  display: flex;
  gap: 12px;
}
.social-networks .social-network {
  width: 60px;
  height: 60px;
}
.social-networks .social-network_twitter {
  background-image: url(../img/footer/twitter.svg);
}
.social-networks .social-network_twitter:hover {
  background-image: url(../img/footer/twitter-hover.svg);
}
.social-networks .social-network_instagram {
  background-image: url(../img/footer/intagram.svg);
}
.social-networks .social-network_instagram:hover {
  background-image: url(../img/footer/instagram-hover.svg);
}
.social-networks .social-network_facebook {
  background-image: url(../img/footer/facebook.svg);
}
.social-networks .social-network_facebook:hover {
  background-image: url(../img/footer/facebook-hover.svg);
}

.footer__right h3 {
  color: #E1D4C9;
}
.footer__right ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__right li {
  list-style: none;
  width: max-content;
}
.footer__right li svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.footer__right li a,
.footer__right li span {
  text-decoration: none;
  color: #E1D4C9;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}
.footer__right li:last-child {
  box-sizing: border-box;
  padding-bottom: 4px;
}

/*# sourceMappingURL=style.css.map */
