//text
$color-text-dark: #202E39;
$color-text-light: #e2dddc;

//background
$color-background-body-light: #edeae9;
$color-background-body-light-popup: #edeae96f;
$color-background-body-opacity: #edeae900;
$color-background-body-light-center: #e2dddc;
$color-background-body-dark: #26333F;
$color-background-body-dark-center: #202E39;


//
$color-time: #ffb703;
$color-button: #8ecae658;
$color-cell:#202e39df;
$color-cell-light:#a0cee38d;
$color-sky:#ADD8E4;

//shadow
$color-shadow-light:rgba(255, 255, 255, 0.4);
$color-shadow-light2:rgba(255, 255, 255, 0.1);
$color-shadow-dark:rgba(0, 0, 0, 0.1);
$color-shadow-dark2:rgba(0, 0, 0, 0.2);


$middle-width: 1340px;
$tablet-width: 1000px;
$mobile-width: 710px;
$mini-mobile-width: 499px;
