$color-text-dark: #023047;
$color-text-light: #EDEAE9;
$color-background-body-light: #EDEAE9;
$color-background-body-dark: #023047;
$color-button: #FFB703;
$color-button-border: #f5d07337;
$color-border-background: #8ecae658;
$color-selected: #3892c0;
$color-border-opacity: #8ecae600;


$middle-width: 1024px;
$tablet-width: 768px;
$mobile-width: 530px;