@use '../abstracts/constants';

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: auto;
  background-color: constants.$color-background-body-light-center;
  color: constants.$color-text-dark;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

h1 {
  border-radius: 10px;
  width: max-content;
  font-size: 3rem;
  padding: 0 15px;
  // box-shadow: -5px -5px 10px 0px constants.$color-shadow-light, 5px 5px 10px 0px constants.$color-shadow-dark;
}

h2 {
  // box-shadow: -5px -5px 10px 0px constants.$color-shadow-light, 5px 5px 10px 0px constants.$color-shadow-dark;
  margin: auto;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 3rem;
}