@use '../abstracts/constants';
@use '../abstracts/mixins';

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: constants.$color-background-body-light-center;
  color: constants.$color-text-dark;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

body.lock {
  overflow: hidden;
}

body.dark {
  background-color: constants.$color-background-body-dark-center;
  color: constants.$color-text-light;
}

h1 {
  border-radius: 10px;
  width: max-content;
  font-size: 3.5rem;
  padding: 0 15px;
}

h2 {
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 3rem;
}