@use "../abstracts/constants";
@use "../abstracts/mixins";

.menu {
  box-sizing: border-box;
  order: 2;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 15px;

  @include mixins.media-tablet {
    z-index: 9;
    background-color: constants.$color-background-body-light-center;
    border-bottom-left-radius: 10px;
    box-shadow: -5px 0px 15px 0px constants.$color-shadow-dark;
    position: fixed;
    overflow-y: auto;
    right: 0;

    gap: 10px;
    top: -700px;

    padding: 100px 40px 60px;

    opacity: 0;
    transition: all 0.6s ease 0s;

    .dark & {
      background-color: constants.$color-background-body-dark-center;
    }

    &_opened {
      transform: translateY(700px);
      opacity: 100%;
    }
  }
}

.levels {
  padding: 2px;
  background-color: constants.$color-button;
  border-radius: 10px;
  padding: 2px 2px;
  box-shadow: inset 0px 0px 5px 0px constants.$color-shadow-dark2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.level {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0 5px;
  width: 85px;
  font-size: 2rem;
  border-radius: 10px;

  transition: all 0.2s ease;

  &_selected {
    cursor: auto;
    background-color: constants.$color-background-body-light;
    box-shadow: 0px 0px 5px 0px constants.$color-shadow-dark2;
    border-radius: 10px;
    font-size: 2.2rem;

    .dark & {
      background-color: constants.$color-text-dark;
    }
  }

  &:hover,
  &:focus {
    font-size: 2.2rem;
  }
}

.menu__name-game {
  margin-top: 50px;
  padding: 3px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 7px 0px constants.$color-shadow-dark2;

  background-color: constants.$color-background-body-light-center;

  .dark & {
    background-color: constants.$color-background-body-dark;
  }
}

.name-game {
  padding: 3px 10px;
  height: 32px;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s linear;

  &_selected {
    font-size: 2.2rem;
    background-color: constants.$color-background-body-light;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px constants.$color-shadow-dark2;

    .dark & {
      background-color: constants.$color-button;
    }
  }

  &:hover {
    font-size: 2.2rem;
  }
}
