@use "../abstracts/constants";
@use "../abstracts/mixins";

.score {
  order: -1;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px;

  @include mixins.media-middle {
    z-index: 10;
    background-color: constants.$color-background-body-light-center;
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: -100%;

    gap: 10px;

    padding: 60px 40px;

    opacity: 0;
    transition: opacity 0.6s ease 0s;
    box-shadow: 0px 0px 100px 0px constants.$color-shadow-dark2;

    &_opened {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 100%;
    }
  }
}

.score__wrapper {
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 7px 0px constants.$color-shadow-dark2;

  background-color: constants.$color-background-body-light-center;
}

ol {
  font-size: 1.5rem;
  list-style: none;
  counter-reset: item;

  li {
    counter-increment: item;
    padding: 10px;
  }
  li:before {
    margin-right: 10px 0;
    content: counter(item);

    width: 3rem;
    text-align: center;
    display: inline-block;
  }
}

.score__first {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: constants.$color-button;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
