@use "../abstracts/constants";

.nonograms {
  width: 540px;
  margin: auto;
}

table,
tr,
td {
  border: solid 1px constants.$color-text-dark;
  border-collapse: collapse;
}

.nonograms__left,
.nonograms__top {
  padding: 5px;
  border-radius: 30%;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  text-align: center;
}

.nonograms__left {
  width: 90px;
}

.nonograms__top {
  height: 90px;
}

.cell {
  position: relative;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.cell-medium {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
}

.cell-small {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

.cell_dark {
  background-color: constants.$color-text-dark;
}

.cell_cross::before {
    padding: 0;
    content: 'x';
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.first .cell,
.first .cell-small,
.first .cell-medium,
.first .nonograms__left {
  border-top: solid 2px constants.$color-text-dark;
}

.cell_first,
.nonograms__top_first {
  border-left: solid 2px constants.$color-text-dark;
}

.five .cell,
.five .cell-small,
.five .cell-medium,
.five .nonograms__left {
  border-bottom: solid 2px constants.$color-text-dark;
}

.cell_five {
  border-right: solid 2px constants.$color-text-dark;
}

