$color-text: #000;
$color-background: #f8cb00;
$color-gallows: #7F5B0A;

$color-accent: #c33153;
$color-key: #b3f2dd;
$color-key-border: #82b0a1;

$color-background-modal: #00000020;
$color-background-modal-window: #e0e0e0;
$color-background-modal-button:#daaaf2;


$middle-width: 1200px;
$tablet-width: 835px;
$mobile-width: 549px;
