@use '../abstracts/constants';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.favourites-coffee__wrapper {
    padding-top: 100px;
}

.favourites-coffee__heading {
    text-align: center;
    margin-bottom: 40px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.slider__arrow {
    
    @include mixins.media-tablet-middle {
        display: none;
    } 
}

.slider__content {
    overflow: hidden;
    max-width: 1150px;

    .slider__line {
        display: flex;
    }
}

.slider__slide {
    width: calc(100% / 1);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;

    img {
        display: block;
        margin: auto;
        max-width: 480px;

        @include mixins.media-tablet-middle {
            max-width: 348px;
        } 
    }

    .slide__description {
        max-width: 480px;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .slide__description__text {
        color: constants.$color-text-dark;
        @include mixins.font(1.6rem, 400, 150%);
        text-align: center;
    }

    .slide__price {
        color: constants.$color-text-dark;
        @include mixins.font(2.4rem, 600, 125%);
    }
}

.position_1 {
    .slider__slide {
        transform: translateX(-100%);
    }  
}

.position_2 {
    .slider__slide {
        transform: translateX(-200%);
    }  
}

.slider__controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;

    .control {
        position: relative;
        width: 40px;
        height: 4px;
        border-radius: 100px;
        background: constants.$color-border-light;
        overflow: hidden;

        .control__background {
            width: 0%;
            height: 100%;
            background: constants.$color-border-dark;
        }
    }
}

progress{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0;

}
  
  progress::-webkit-progress-bar {
    border: none;
    background: constants.$color-border-light;
  }
  
  progress::-webkit-progress-value {
    background: constants.$color-border-dark;
    transition: width 0.1s;
  }

