@use '../abstracts/constants';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.favourites-coffee__wrapper {
    padding-top: 100px;
}

.favourites-coffee__heading {
    text-align: center;
    margin-bottom: 40px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.slider__arrow {
    width: 60px;
    height: 60px;
    @extend %transition;
    cursor: pointer;

    &_left {
        background-image: url(../img/favourites-coffee/arrow-left.svg);

        &:hover {
            background-image: url(../img/favourites-coffee/arrow-left-hover.svg);
        }
    }

    &_right {
        background-image: url(../img/favourites-coffee/arrow-right.svg);

        &:hover {
            background-image: url(../img/favourites-coffee/arrow-right-hover.svg);
        }
    }
}

.slider__content {
    overflow: hidden;
    max-width: 1150px;
    height: 640px;

    .slider__line {
        display: flex;
        justify-content: center;
        gap: 336px;
    }
}

.slider__slide {
    max-width: 480px;
    margin: auto;

    img {
        max-width: 480px;
        max-height: 480px;
        justify-content: center;
    }

    .slide__description {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .slide__description__text {
        color: constants.$color-text-dark;
        @include mixins.font(1.6rem, 400, 150%);
        text-align: center;
    }

    .slide__price {
        color: constants.$color-text-dark;
        @include mixins.font(2.4rem, 600, 125%);
    }
}

.slider__controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;

    .control {
        width: 40px;
        height: 4px;
        border-radius: 100px;
        background: constants.$color-border-light;

        &_checked {
            background: constants.$color-border-dark;
        }
    }
}