@use '../abstracts/constants';
@use '../abstracts/mixins';
@use '../abstracts/placeholders';

.container__footer {
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 100px;
    border-radius: 40px;
    background-color: constants.$color-background-container;
    display: flex;
    gap: 100px;

    h2 {
        color: constants.$color-text-light;
    }

    .footer__left,
    .footer__right {
        width: 530px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
}

.social-networks {
    display: flex;
    gap: 12px;

    .social-network {
        width: 60px;
        height: 60px;
        @extend %transition;

        &_twitter {
            background-image: url(../img/footer/twitter.svg);

            &:hover {
                background-image: url(../img/footer/twitter-hover.svg);
            }
        }

        &_instagram {
            background-image: url(../img/footer/intagram.svg);

            &:hover {
                background-image: url(../img/footer/instagram-hover.svg);
            }
        }

        &_facebook {
            background-image: url(../img/footer/facebook.svg);

            &:hover {
                background-image: url(../img/footer/facebook-hover.svg);
            }
        }
    }
}

.footer__right {

    h3 {
        color: constants.$color-text-light;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    li {
        list-style: none;
        width: max-content;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }

        a,
        span {
            text-decoration: none;
            color: constants.$color-text-light;
            @include mixins.font(1.6rem, 600, 150%);
        }

        &:last-child {
            box-sizing: border-box;
            padding-bottom: 4px;
        }
    }
}