.gameplay {
  box-sizing: border-box;
  width: 60%;
  height: 95%;
  margin-top: 5%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.gameplay__word {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1rem;
}

.hint {
  width: 80%;
  font-size: 0.8rem;
  align-content: center;
  letter-spacing: 0.1rem;
}

.hint__text {
  font-size: 0.7rem;
}

.incorrect-guesses {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.incorrect-guesses__count {
  color: #a1458a;
  font-size: 1.1rem;
  
}

.keyboard {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.keyboard__button {
  cursor: pointer;
  box-sizing: border-box;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  background-color: #b3f2dd;
  border-color: #82b0a1;

  font-family: 'Rubik Doodle Shadow', system-ui;
  font-size: 1.1rem;

  opacity: 1;
  transition: opacity 1s ease;

  &_hide {
    opacity: 0;
    cursor: default;
  }
}