@use "../abstracts/mixins";
@use "../abstracts/constants";

.gameplay {
  box-sizing: border-box;
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  @include mixins.media-middle {
    width: 100%;
    }
}

.gameplay__word {
  margin: 10% auto 0 auto;
  max-width: min-content;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 1rem;

  @include mixins.media-middle {
    margin: 0 auto 0 auto;
    }
  
}

.hint {
  width: 80%;
  margin: auto;
  font-size: 0.7rem;
  align-content: center;
  letter-spacing: 0.1rem;
  text-align: justify;
}

.hint__text {
  font-size: 0.7rem;
}

.incorrect-guesses {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.incorrect-guesses__count {
  color: constants.$color-accent;
  font-size: 0.8rem;
  
}

.keyboard {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

