@use "../abstracts/constants";
@use "../abstracts/mixins";

.picture {
  width: 40%;
  
}

.picture__img {
  width: 90%;
  min-width: 400px;
  height:auto;
  margin: 10% 0 0 10%;

  @include mixins.media-middle {
    margin: auto;
    min-width: none;
    height: 40vh;
    }

    .picture__gallows {
      fill: constants.$color-gallows;
    }

    .picture__head,
    .picture__body,
    .picture__right-hand,
    .picture__left-hand,
    .picture__left-leg,
    .picture__right-leg {
      fill: none;

      &_unhide {
        fill: constants.$color-text;
      }
    }
}





